<html>
    <head></head>
<body >
<div style="-webkit-user-select: none; position:relative; background: white">
        
        <div id="hwrj-canvas" class="hwrj-canvas">
            <canvas id="canvas" width="240" height="240" style="background:aliceblue; -ms-touch-action:none;">
            </canvas>
        </div>
        
        <div id="hwrj-result" class="hwrj-result" style="display: block;"><input class="hwrj-button" type="button" value="Back" style="background-color: rgb(255, 192, 203); color: rgb(0, 0, 0);"><input class="hwrj-button" type="button" value="Input" style="background-color: rgb(255, 192, 203); color: rgb(0, 0, 0);"><input class="hwrj-button" type="button" value="Again" style="background-color: rgb(255, 192, 203); color: rgb(0, 0, 0);"><div class="hwrj-highlight"><span class="hwrj-kanji">_</span><span class="hwrj-mark">3x</span></div></div>
        
        <div id="hwrj-search" class="hwrj-search">
        <div align="center">
        
        
        <form action="k.jsp" method="Get" target="_blank">
        
            <input type="radio" name="r" value="kanji" checked="">
            <a href="k.jsp" target="_blank">Kanji</a>&nbsp;
            &nbsp;<input type="radio" name="r" value="radical">
            <a href="k.jsp?r=radical" target="_blank">Radical</a>&nbsp;
        
            <input id="hwrj-clear-button" type="reset" value="Reset">&nbsp;
        
        
            <input id="hwrj-submit-button" type="submit" value="Search">&nbsp;<br>
        
        
        
            <input id="hwrj-text" name="k" type="text" size="20" value="" class="hwrj-text">&nbsp;
        
        </form>
        
        
        
        
        
        <form action="./akanji.jsp" method="Get" target="_blank">
        
            &nbsp;<input id="hwrj-text" name="k" type="text" size="4">&nbsp;
        
        </form>
        
        </div>
        </div>
        
        
        </div>   
        </body>
        </html>>